<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
version="2.4">
	<display-name>Sistema de Averias</display-name>
	<description>Proyecto 2</description>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/context.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>ActualizarSucursal</servlet-name>
		<servlet-class>display.ActualizarSucursal</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DetalleSucursal</servlet-name>
		<servlet-class>display.DetalleSucursal</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListaSucursales</servlet-name>
		<servlet-class>display.ListaSucursales</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InsertarSucursal</servlet-name>
		<servlet-class>display.InsertarSucursal</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EliminarSucursal</servlet-name>
		<servlet-class>display.EliminarSucursal</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActualizarSucursal</servlet-name>
		<url-pattern>/averias/actualizarSucursal</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DetalleSucursal</servlet-name>
		<url-pattern>/averias/detalleSucursal</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListaSucursales</servlet-name>
		<url-pattern>/averias/listaSucursales</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertarSucursal</servlet-name>
		<url-pattern>/averias/insertarSucursal</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EliminarSucursal</servlet-name>
		<url-pattern>/averias/eliminarSucursal</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ActualizarSuscriptor</servlet-name>
		<servlet-class>display.ActualizarSuscriptor</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DetalleSuscriptor</servlet-name>
		<servlet-class>display.DetalleSuscriptor</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListaSuscriptores</servlet-name>
		<servlet-class>display.ListaSuscriptores</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InsertarSuscriptor</servlet-name>
		<servlet-class>display.InsertarSuscriptor</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EliminarSuscriptor</servlet-name>
		<servlet-class>display.EliminarSuscriptor</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActualizarSuscriptor</servlet-name>
		<url-pattern>/averias/actualizarSuscriptor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DetalleSuscriptor</servlet-name>
		<url-pattern>/averias/detalleSuscriptor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListaSuscriptores</servlet-name>
		<url-pattern>/averias/listaSuscriptores</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertarSuscriptor</servlet-name>
		<url-pattern>/averias/insertarSuscriptor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EliminarSuscriptor</servlet-name>
		<url-pattern>/averias/eliminarSuscriptor</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ActualizarServicio</servlet-name>
		<servlet-class>display.ActualizarServicio</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DetalleServicio</servlet-name>
		<servlet-class>display.DetalleServicio</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListaServicios</servlet-name>
		<servlet-class>display.ListaServicios</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InsertarServicio</servlet-name>
		<servlet-class>display.InsertarServicio</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EliminarServicio</servlet-name>
		<servlet-class>display.EliminarServicio</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NuevaServicio</servlet-name>
		<servlet-class>display.NuevaServicio</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActualizarServicio</servlet-name>
		<url-pattern>/averias/actualizarServicio</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DetalleServicio</servlet-name>
		<url-pattern>/averias/detalleServicio</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListaServicios</servlet-name>
		<url-pattern>/averias/listaServicios</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertarServicio</servlet-name>
		<url-pattern>/averias/insertarServicio</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EliminarServicio</servlet-name>
		<url-pattern>/averias/eliminarServicio</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NuevaServicio</servlet-name>
		<url-pattern>/averias/nuevaServicio</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ActualizarAveria</servlet-name>
		<servlet-class>display.ActualizarAveria</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DetalleAveria</servlet-name>
		<servlet-class>display.DetalleAveria</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListaAverias</servlet-name>
		<servlet-class>display.ListaAverias</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InsertarAveria</servlet-name>
		<servlet-class>display.InsertarAveria</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EliminarAveria</servlet-name>
		<servlet-class>display.EliminarAveria</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NuevaAveria</servlet-name>
		<servlet-class>display.NuevaAveria</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActualizarAveria</servlet-name>
		<url-pattern>/averias/actualizarAveria</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DetalleAveria</servlet-name>
		<url-pattern>/averias/detalleAveria</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListaAverias</servlet-name>
		<url-pattern>/averias/listaAverias</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertarAveria</servlet-name>
		<url-pattern>/averias/insertarAveria</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EliminarAveria</servlet-name>
		<url-pattern>/averias/eliminarAveria</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NuevaAveria</servlet-name>
		<url-pattern>/averias/nuevaAveria</url-pattern>
	</servlet-mapping>
	
</web-app>